<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
   <sitecore>
     <controlSources>
       <source mode="on" namespace="Outercore.FieldTypes" assembly="Outercore.FieldTypes" prefix="outercore"/>
     </controlSources>

     <fieldTypes>
       <fieldType name="Carousel" type="Sitecore.Data.Fields.ReferenceField,Sitecore.Kernel" />
       <fieldType name="Visuallist" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" />
       <fieldType name="FilteredMultilistEx" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel"/>
     </fieldTypes>

     <pipelines>
       <renderContentEditor>
         <processor x:before="*[1]" type="Outercore.FieldTypes.Common.InjectScripts,Outercore.FieldTypes" />
       </renderContentEditor>
     </pipelines>
   </sitecore>
</configuration>
